@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World we are in todays webapp demo for siva devops engineer 25/3/2024 </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
